*.o
*.obj
*.lo
*.la
*.al
*.libs
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
build/
bin/
lib/

*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

.build/
Package.resolved
Packages/

Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
*.user
*.workspace
*.project
